
body {
    font-family: sans-serif;
    margin: 0px;
    
}

/*-----------------------SECTION HEADER--------------------*/
#header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center center / cover fixed, url(../img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.user-box img {
    width: 250px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(108, 174, 213);
    border-image: initial;
}

.user-box h1{
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.user-box p{
    color: #fff;
}


/*-----------------------SECTION SOBRE MI-------------------*/
.about{
    padding-top: 100px;
    margin-bottom: -130px;

}

.profile-img{
    height: 300px;
}

.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar{
    background: #000;
}
.nav-bar .fa-bars{
font-size: 35px;
color: #fff;
}

.navbar-toggler{
    outline: none !important;
}
.navbar-nav{
    float: right;
    text-align: right;
}
.nav-link{
    color: #fff !important;
}

/*-----------------------SECTION CURRICULUM-------------------*/
.resume{
    margin-top:-50px; 
    padding-top:50px;
    padding-bottom: 30px;
    background: #f9f9f9; 
}
.resume h3{
    padding-top: 50px;

}

.timeline{
    list-style-type:none;
    position: relative;
}
.timeline:before{
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.timeline li{
    margin-top: 20px;
    margin-bottom:20px;
    margin-left:20px;
    background: #fff;
}
.timeline li h4{
    background: #000;
    color: #fff;
    padding: 5px 0 5px 20px;
    font-size: 18px;
}

.timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;

}

/*-----------------------SECTION SERVICIOS-------------------*/
.services{
    margin-top: 50px;
    margin-bottom:50px;
}

.services h1{
    
    margin-bottom:20px;
}

.services-box{
    background: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.services-box .fas{
    margin: 0 10px;
    font-size: 20px;
}

.services-box span{
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}
.services-box p {
    margin-top: 20px;
    font-size: 15px;
    color: #777777;
}
.services-box:hover{
    background: #000000;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;  
    border-top-left-radius: 50px;
    transition: 1s;
}
.services-box p:hover{
    color: #fff;
}


/*-----------------------SECTION CONTACTO-------------------*/

.contact{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) center center / cover fixed, url(../img/fondo2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.contact .row{
padding: 30px 0;
font-size: 22px;
}

.contact .col-md-4 .fas{
    font-size: 40px;
    padding: 10px;
}
.contact .btn{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
}
.footer{
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top:10px; 
}

/*-----------------------ICONOS SOCIALES-------------------*/
.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul{
    padding: initial;
}

.social-icons ul li {
    height: 40px;
    width: 40px;
    padding-top:6px;
    padding-left:12px;
    margin-top:5px; 
    list-style-type: none;
    color: #fff;
    background: #000;  
}

.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
     transition: 0.5s;
}
/*-----------------------PORTAFOLIO-------------------*/

.portafolio{
    margin-top: 100px;
    margin-bottom:50px;
}

.portafolio h1{
    
    margin-bottom:20px;
}
ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #000;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #28bea8;
    color: #fff;
}